swagger: '2.0'
info:
  version: "1.0.0"
  title: Ceek / Purchasing API
host: ceek.com
schemes: [https]
paths:
  /v3/payment/ready:
    get:
      description: |
        Checks to make sure the authenticated user is setup in Stripe to make purchases.
      produces:
        - application/json
      parameters:
        -
          name: deviceid
          in: header
          description: Unique ID of the device being used in request
          required: true
          type: string
        -
          name: token
          in: header
          description: Authentication token from `user.mid` of logged in user object
          required: true
          type: string
      responses:
        200:
          description: Successful response
          schema:
            title: payment_ready
            type: boolean
  /v3/payment/update:
    get:
      description: |
        Updates the users Stripe payment credentials
      produces:
        - application/json
      parameters:
        -
          name: deviceid
          in: header
          description: Unique ID of the device being used in request
          required: true
          type: string
        -
          name: token
          in: header
          description: Authentication token from `user.mid` of logged in user object
          required: true
          type: string
        -
          name: stripeToken
          in: formData
          description: The `stripeToken` generated by the Stripe JS API.
          required: true
          type: string
      responses:
        500:
          description: Stripe token expired
          schema:
            title: message
            type: string
          examples:
            1: 'You cannot use a Stripe token more than once: tok_1241jkl13h4jljk3242343.'
        200:
          description: Successful response
          schema:
            title: payment_ready
            type: boolean
  /v3/payment/charge:
    get:
      description: |
        Charge the users Stripe payment credentials for the provided catalog item
      produces:
        - application/json
      parameters:
        -
          name: deviceid
          in: header
          description: Unique ID of the device being used in request
          required: true
          type: string
        -
          name: token
          in: header
          description: Authentication token from `user.mid` of logged in user object
          required: true
          type: string
        -
          name: mid
          in: formData
          description: The mid of the catalog item for purchase
          required: true
          type: string
      responses:
        500:
          description: Stripe token expired
          schema:
            title: message
            type: string
          examples:
            1: 'You cannot use a Stripe token more than once: tok_1241jkl13h4jljk3242343.'
        422:
          description: Catalog item not provided or not found
          schema:
            title: message
            type: string
          examples:
            1: The mid field is required.
            2: The provided mid does not exist in the catalog.
        200:
          description: Successful response
          schema:
            title: status
            type: boolean   
